.app {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.fee-calculator {
	display: inline-block;
}

.fee-calculator form {
	max-width: 424px;
}

.fee-calculator fieldset {
	all: unset;
	width: 100%;
}

.fee-calculator legend,
.fee-calculator fieldset:after {
	/* all: unset; */
	border: var(--border);
	height: 32px;
	width: 100%;
	box-sizing: border-box;
	padding: 0 6px;
	line-height: 32px;
}

.fee-calculator legend {
	border: var(--border);
	border-top-left-radius: var(--radius);
	border-top-right-radius: var(--radius);
}

.fee-calculator fieldset:after  {
	content: '';
	display: block;
	border: var(--border);
	border-bottom-left-radius: var(--radius);
	border-bottom-right-radius: var(--radius);
}

.fee-calculator .input-fields {

	border-left: var(--border);
	border-right: var(--border);
	padding: 38px 47px;
}

.fee-calculator .input-field {
	margin-bottom: 20px;
	display: flex;
}

.fee-calculator label {
	margin-right: 18px;
	max-width: 67px;
    margin-top: 11px;
}

.fee-calculator input {
	border: var(--border);
	border-radius: var(--radius);
	height: 34px;
    padding-top: 4px;
	padding-left: 5px;
	width: 95px;
}

.fee-calculator input#time {
	width: unset;
}

.input-field:after {
	margin-left: 20px;
	margin-top: 11px;
}

.cart-value-container:after {
	content: '€';
}

.delivery-distance-container:after {
	content: 'm';
}

.fee-calculator button {
	cursor: pointer;
	padding: 0 10px;
	background-color: white;
	border: var(--border);
	border-radius: var(--radius);
	height: 30px;
	line-height: 30px;
	box-shadow: 4px 4px 0px 0px rgba(0,0,0,1);
	-webkit-box-shadow: 4px 4px 0px 0px rgba(0,0,0,1);
	-moz-box-shadow: 4px 4px 0px 0px rgba(0,0,0,1);
	transform: translate(-4px, -4px);
}

.fee-calculator button:active {
	box-shadow: 0 0 0px 0px rgba(0,0,0,1);
	-webkit-box-shadow: 0 0 0px 0px rgba(0,0,0,1);
	-moz-box-shadow: 0 0 0px 0px rgba(0,0,0,1);
	transform: translate(0, 0);
}